
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <div style=" padding: 45%;">
         <p><B>Name:</B>@ViewBag.Name</p>
         <p><B>ID:</B>@ViewBag.ID</p>
    </div>
</body>
</html>
