
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4 style="text-align-last: center;">ID No. :@ViewBag.ID</h4>
        <h1 class="jumbotron" style="        text-align-last: center;
        font-size: 50px !important"><B>@ViewBag.Name</B></h1>

    </div>
</body>
</html>
